System.Security.Cryptography.Rfc2898DeriveBytes|{"IterationCount":100000,"Salt":[0,0,0,0,0,0,0,0]}
System.Security.Cryptography.AesCryptoServiceProvider|{"KeySize":128,"BlockSize":128,"FeedbackSize":8,"Mode":1,"Padding":2}
System.Security.Cryptography.HMACSHA256|{"HashName":"SHA256","HashSize":256,"Hash":[196,23,5,197,141,191,113,37,127,220,144,157,219,249,56,48,168,29,80,26,89,151,8,153,107,28,240,167,143,140,111,67],"InputBlockSize":1,"OutputBlockSize":1,"CanTransformMultipleBlocks":true,"CanReuseTransform":true}
